/*--------------------------------------------------------------
# Form Styles
--------------------------------------------------------------*/

.epl-form {
  @include display-flex($justify: space-between, $align: flex-start);
  margin: 40px 0;
  width: 100%;
  max-width: 1000px;
  height: auto;

  &__error {
    width: 100%;
    p {
      font-size: 1.4rem;
      color: $red;
    }
  }

  &__column {
    display: block;
    width: 48%;
    height: auto;

    @include mq($bp-s) {
      width: 100%;
      margin-bottom: 30px;
    }
  }

  &__field {
    display: block;
    width: 100%;
    height: auto;
    border-bottom: 3px solid $yellow-light;
    margin-bottom: 20px;

    input {
      width: 100%;
      height: 40px;
      border: none;
      outline: none;
      @include open-sans(400);
      font-size: 1.8rem;
      color: $brown;

      &::-webkit-input-placeholder { /* WebKit browsers */
          color: #cecece;
      }
      &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
          color: #cecece;
      }
      &::-moz-placeholder { /* Mozilla Firefox 19+ */
          color: #cecece;
      }
      &:-ms-input-placeholder { /* Internet Explorer 10+ */
          color: #cecece;
      }

    }

  }

  &__submit {
    margin-top: 30px;
    input[type=submit] {
      display: block;
      border: none;
      border-radius: 0;
      outline: none;
      @include open-sans(400);
      font-size: 1.8rem;
      color: #cecece;
      background: transparent;
      cursor: pointer;
      transition: color 500ms;

      &:hover,
      .active {
        color: $brown;
      }
    }
  }

  textarea {
    display: block;
    width: 100%;
    height: 200px;
    overflow: auto;
    border: none;
    border-radius: 0;
    outline: none;
    @include open-sans(400);
    font-size: 1.8rem;
    color: #FFF;
    background: $yellow-light;
    padding: 7px 10px;
    resize: none;

    &::-webkit-input-placeholder { /* WebKit browsers */
        color: #FFF;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: #FFF;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: #FFF;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10+ */
        color: #FFF;
    }

  }

}



// Input Autocomplete
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-text-fill-color: $white !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
