/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
	// TODO: Define default font here.
	text-rendering: optimizeLegibility;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	cursor: default;
}

html {
	@include open-sans;
	font-size: 10px;
	color: $brown;
}

/*--------------------------------------------------------------
# Headings (h1 through h6)
--------------------------------------------------------------*/

h1 {
	@include open-sans(700);
	font-size: 6rem;
	letter-spacing: .025em;
	line-height: 1;

	@include mq($bp-s) {
		font-size: 4rem;
	}
}

h2 {
	@include open-sans(900);
	font-size: 3.5rem;
	line-height: 1;
	margin-bottom: 30px;
	position: relative;

	@include mq($bp-s) {
		font-size: 2.5rem;
	}

	&.margined {
		margin-top: 80px;
	}
}

h3 {
	@include open-sans(900);
	font-size: 2rem;
	line-height: 3.6rem;
	margin-bottom: 10px;

	@include mq($bp-s) {
		font-size: 1.4rem;
		line-height: 2.8rem;
	}
}

/*--------------------------------------------------------------
# Paragraph
--------------------------------------------------------------*/
p {
	@include open-sans(400);
	font-size: 2rem;
	line-height: 3.6rem;
	margin-bottom: 30px;

	@include mq($bp-s) {
		font-size: 1.4rem;
		line-height: 2.8rem;
	}
}

strong {
	@include open-sans(900);
}

/*--------------------------------------------------------------
# Custom
--------------------------------------------------------------*/

p > a,
li > a {
	color: $blue;
	// text-decoration: underline;
	white-space: nowrap;

	@include mq($bp-m) {
		white-space: normal;
	}
}
