/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
// Default
$black: #000000;
$white: #ffffff;

// Custom
$yellow-light: #e3a830;
$brown: #211e1e;
$blue: #0069aa;
$red: #d64f27;

/*--------------------------------------------------------------
# Media Queries / Breakpoints
--------------------------------------------------------------*/
$bp-xs: 600px;
$bp-s: 790px;
$bp-m: 900px;
$bp-l: 1200px;
$bp-xl: 1500px;
