/*--------------------------------------------------------------
# Modal
--------------------------------------------------------------*/

.epl-modal {
  display: block;
  width: 90%;
  max-width: 700px;
  height: 80vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FFF;
  z-index: 99;
  overflow-x: none;
  overflow-y: auto;
  padding: 30px;
  box-sizing: border-box;
  box-shadow: 0px 0px 30px #cecece;
  border-bottom: 20px solid $blue;

  &__close {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #cecece;
    font-size: 1.4rem;
    cursor: pointer;
    transition: color 500ms;

    &:hover {
      color: $yellow-light;
    }
  }

  .modal-header {
    @include display-flex($justify: space-between, $align: flex-end);
    margin-bottom: 30px;

    &__copy {
      .title {
        display: block;
        @include open-sans(700);
        color: #000;
        font-size: 1.4rem;
        line-height: 1;
        text-transform: uppercase;
        margin-bottom: 10px;
      }
      .name {
        display: block;
        @include open-sans(900);
        color: #000;
        font-size: 2.4rem;
        line-height: 1;
      }
    }

    &__image {
      @include mq($bp-xs) {
        display: none;
      }
    }
  }

  &__content {
    p {
      font-size: 1.6rem;
      line-height: 2.8rem;
      color: #7a786a;
    }
  }

  .linked-link {
    @include open-sans(700);
    font-size: 1.4rem;
    color: $yellow-light;
  }

}
