/*--------------------------------------------------------------
# Global Styles
--------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

* {
  box-sizing: border-box;
}

button {
  outline: none;
  border: 0;
  background: none;
  padding: 0;
}

hr {
  border: none;
}

/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Media Queries / Breakpoints
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Justify Inline Block Elements
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Media queries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Transition
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Transform
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Flexbox
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Flexbox child
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Font Mixins
----------------------------------------------------------------
EG:
@mixin serif($weight: regular) {
  @if $weight == regular {
    font-family: 'MyFontFace', 'Times', serif;
  }
  @else if $weight == bold {
    font-family: 'MyFontFaceBold', 'Times', serif;
  }
  @else if $weight == italic {
    font-family: 'MyFontFaceItalic', 'Times', serif;
  }
} */
/*--------------------------------------------------------------
# Font Imports
--------------------------------------------------------------
EG:
@font-face {
  font-family: 'MyFontFace';
  src: url('fonts/MyFontFace/regular.otf') format('opentype');
  src: url('fonts/MyFontFace/regular.woff') format('woff');
} */
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: default;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: #211e1e;
}

/*--------------------------------------------------------------
# Headings (h1 through h6)
--------------------------------------------------------------*/
h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 6rem;
  letter-spacing: .025em;
  line-height: 1;
}
@media all and (max-width: 790px) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1;
  margin-bottom: 30px;
  position: relative;
}
@media all and (max-width: 790px) {
  h2 {
    font-size: 2.5rem;
  }
}
h2.margined {
  margin-top: 80px;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  font-size: 2rem;
  line-height: 3.6rem;
  margin-bottom: 10px;
}
@media all and (max-width: 790px) {
  h3 {
    font-size: 1.4rem;
    line-height: 2.8rem;
  }
}

/*--------------------------------------------------------------
# Paragraph
--------------------------------------------------------------*/
p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.6rem;
  margin-bottom: 30px;
}
@media all and (max-width: 790px) {
  p {
    font-size: 1.4rem;
    line-height: 2.8rem;
  }
}

strong {
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
}

/*--------------------------------------------------------------
# Custom
--------------------------------------------------------------*/
p > a,
li > a {
  color: #0069aa;
  white-space: nowrap;
}
@media all and (max-width: 900px) {
  p > a,
  li > a {
    white-space: normal;
  }
}

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Body
--------------------------------------------------------------*/
body,
html {
  width: 100%;
  overflow-x: hidden;
}

/*--------------------------------------------------------------
# Body - Content Wrap
--------------------------------------------------------------*/
.epl-wrap {
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.epl-container {
  display: block;
  width: 90%;
  height: auto;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.epl-container .section-line {
  display: block;
  width: 14%;
  height: 30px;
  position: absolute;
  top: 3px;
  left: 0;
}
@media all and (max-width: 900px) {
  .epl-container .section-line {
    width: 6%;
  }
}
@media all and (max-width: 790px) {
  .epl-container .section-line {
    display: none;
  }
}
.epl-container .section-line.yellow {
  background: #e3a830;
}
.epl-container .section-line.blue {
  background: #0069aa;
}
.epl-container--margined {
  margin-top: 120px;
  margin-bottom: 120px;
}
@media all and (max-width: 900px) {
  .epl-container--margined {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}
@media all and (max-width: 790px) {
  .epl-container--margined {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
.epl-container__inner {
  display: block;
  width: 65%;
  height: auto;
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;
}
@media all and (max-width: 900px) {
  .epl-container__inner {
    width: 80%;
  }
}
@media all and (max-width: 790px) {
  .epl-container__inner {
    width: 100%;
  }
}

/*--------------------------------------------------------------
# Page Footer
--------------------------------------------------------------*/
.epl-footer {
  text-align: center;
  padding: 40px 0 30px 0;
}
.epl-footer__logo {
  margin-bottom: 40px;
}
.epl-footer__locations {
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  color: #6c6c6c;
  font-size: 1.4rem;
  line-height: 1;
  margin-bottom: 40px;
}
.epl-footer__locations span {
  display: inline-block;
  padding: 0 10px;
}
.epl-footer__disclaimers p,
.epl-footer__disclaimers a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: -0.02em;
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
.epl-navigation {
  display: block;
  width: 100%;
  height: auto;
  padding: 30px 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  flex-align: center;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -ms-flex-pack: justify;
}
.epl-navigation .epl-logo img {
  width: auto;
  height: auto;
}
@media all and (max-width: 790px) {
  .epl-navigation .epl-logo img {
    width: 240px;
    height: auto;
  }
}
.epl-navigation__links {
  display: block;
}
@media all and (max-width: 790px) {
  .epl-navigation__links {
    display: none;
  }
}
.epl-navigation__links a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  font-size: 1.4rem;
  color: #6c6c6c;
  margin-left: 30px;
  position: relative;
}
.epl-navigation__links a .line {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background: #e3a830;
  position: absolute;
  top: 110%;
  left: 0;
  opacity: 0;
  transition: opacity 500ms;
}
.epl-navigation__links a:hover .line {
  opacity: 1;
}
.epl-navigation__mobile-toggle {
  display: none;
  font-size: 1.9rem;
  margin-right: 20px;
}
@media all and (max-width: 790px) {
  .epl-navigation__mobile-toggle {
    display: inline;
  }
}
@media all and (max-width: 600px) {
  .epl-navigation__mobile-toggle {
    margin: 0;
  }
}

/*--------------------------------------------------------------
# Mobile Navigation
--------------------------------------------------------------*/
.mobile-navigation {
  background: #e3a830;
  color: #FFF;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
}
.mobile-navigation .links {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 9999999;
}
.mobile-navigation a {
  display: block;
  text-align: left;
  font-size: 1.4rem;
  line-height: 1.3;
  padding: 15px 30px;
  font-weight: 900;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Lists
--------------------------------------------------------------*/
ol,
ul {
  font-size: 1.8rem;
  line-height: 3rem;
  margin-bottom: 3rem;
  width: 80%;
  margin: 5rem auto;
}
@media all and (max-width: 600px) {
  ol,
  ul {
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin: 2.5rem auto;
  }
}
ol li,
ul li {
  margin-bottom: 30px;
}

/*--------------------------------------------------------------
# Figure / Image
--------------------------------------------------------------*/
figure {
  overflow: hidden;
  width: 100%;
  height: auto;
}
figure img {
  width: auto;
  height: auto;
  max-width: 100%;
}
figure img.desktop {
  display: inline;
}
figure img.mobile {
  display: none;
}
@media all and (max-width: 600px) {
  figure img.desktop {
    display: none;
  }
  figure img.mobile {
    display: inline;
  }
}

/*--------------------------------------------------------------
# Form Styles
--------------------------------------------------------------*/
.epl-form {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: flex-start;
  -moz-box-align: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  flex-align: flex-start;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -ms-flex-pack: justify;
  margin: 40px 0;
  width: 100%;
  max-width: 1000px;
  height: auto;
}
.epl-form__error {
  width: 100%;
}
.epl-form__error p {
  font-size: 1.4rem;
  color: #d64f27;
}
.epl-form__column {
  display: block;
  width: 48%;
  height: auto;
}
@media all and (max-width: 790px) {
  .epl-form__column {
    width: 100%;
    margin-bottom: 30px;
  }
}
.epl-form__field {
  display: block;
  width: 100%;
  height: auto;
  border-bottom: 3px solid #e3a830;
  margin-bottom: 20px;
}
.epl-form__field input {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  color: #211e1e;
}
.epl-form__field input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #cecece;
}
.epl-form__field input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #cecece;
}
.epl-form__field input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #cecece;
}
.epl-form__field input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #cecece;
}
.epl-form__submit {
  margin-top: 30px;
}
.epl-form__submit input[type=submit] {
  display: block;
  border: none;
  border-radius: 0;
  outline: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  color: #cecece;
  background: transparent;
  cursor: pointer;
  transition: color 500ms;
}
.epl-form__submit input[type=submit]:hover,
.epl-form__submit input[type=submit] .active {
  color: #211e1e;
}
.epl-form textarea {
  display: block;
  width: 100%;
  height: 200px;
  overflow: auto;
  border: none;
  border-radius: 0;
  outline: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  color: #FFF;
  background: #e3a830;
  padding: 7px 10px;
  resize: none;
}
.epl-form textarea::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #FFF;
}
.epl-form textarea:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #FFF;
}
.epl-form textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #FFF;
}
.epl-form textarea:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #FFF;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-text-fill-color: #ffffff !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

/*--------------------------------------------------------------
# Modules
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Modal
--------------------------------------------------------------*/
.epl-modal {
  display: block;
  width: 90%;
  max-width: 700px;
  height: 80vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FFF;
  z-index: 99;
  overflow-x: none;
  overflow-y: auto;
  padding: 30px;
  box-sizing: border-box;
  box-shadow: 0px 0px 30px #cecece;
  border-bottom: 20px solid #0069aa;
}
.epl-modal__close {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #cecece;
  font-size: 1.4rem;
  cursor: pointer;
  transition: color 500ms;
}
.epl-modal__close:hover {
  color: #e3a830;
}
.epl-modal .modal-header {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: flex-end;
  -moz-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  flex-align: flex-end;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -ms-flex-pack: justify;
  margin-bottom: 30px;
}
.epl-modal .modal-header__copy .title {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #000;
  font-size: 1.4rem;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.epl-modal .modal-header__copy .name {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  color: #000;
  font-size: 2.4rem;
  line-height: 1;
}
@media all and (max-width: 600px) {
  .epl-modal .modal-header__image {
    display: none;
  }
}
.epl-modal__content p {
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: #7a786a;
}
.epl-modal .linked-link {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  color: #e3a830;
}

/*--------------------------------------------------------------
# Pages
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Homepage Hero
--------------------------------------------------------------*/
.epl-hero {
  min-height: 100vh;
  background: url("/assets/images/hero-bg.jpg") no-repeat center center;
  background-size: cover;
  overflow: hidden;
  position: relative;
}
@media all and (max-width: 790px) {
  .epl-hero {
    min-height: 580px;
  }
}
.epl-hero .epl-container {
  position: static;
}
.epl-hero__content {
  padding-top: 230px;
  margin-bottom: 60px;
}
@media all and (max-width: 790px) {
  .epl-hero__content {
    padding: 0;
    position: absolute;
    top: 50%;
    left: 5%;
    width: 90%;
    transform: translateY(-50%);
  }
}
.epl-hero__content h1 {
  margin-bottom: 30px;
}
.epl-hero__content .line {
  display: block;
  width: 210px;
  height: 14px;
  background: #e3a830;
}

/*--------------------------------------------------------------
# Pacing
--------------------------------------------------------------*/
.epl-pacing {
  background: #0069aa;
  border-top: 30px solid #e3a830;
  height: 200px;
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.epl-team {
  border-bottom: 30px solid #0069aa;
}

.epl-team-grid {
  width: 100%;
  height: auto;
  max-width: 960px;
  margin: 60px auto 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  flex-align: stretch;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -ms-flex-pack: justify;
}
.epl-team-grid__member {
  display: block;
  width: 25%;
  height: auto;
  margin-bottom: 50px;
}
@media all and (max-width: 900px) {
  .epl-team-grid__member {
    width: 50%;
    text-align: center;
  }
}
.epl-team-grid__member img {
  display: block;
  margin: 10px 0;
  width: auto;
  height: auto;
  max-width: 100%;
}
@media all and (max-width: 900px) {
  .epl-team-grid__member img {
    margin: 10px auto;
  }
}
.epl-team-grid__member .title {
  display: inline-block;
  padding: 3px 5px;
  background: #0069aa;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1rem;
}
.epl-team-grid__member .name {
  display: block;
  font-weight: 900;
  font-size: 2rem;
  margin: 10px 0;
}
.epl-team-grid__member a {
  color: #0069aa;
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.epl-clients {
  background: url("/assets/images/clients-bg.jpg") no-repeat bottom center;
  background-size: cover;
  text-align: center;
  overflow: hidden;
}
.epl-clients .epl-clients-grid {
  width: 100%;
  max-width: 900px;
  height: auto;
  margin: 40px auto 380px auto;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  flex-align: center;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -ms-flex-pack: justify;
}
@media all and (max-width: 790px) {
  .epl-clients .epl-clients-grid {
    margin-bottom: 250px;
  }
}
.epl-clients .epl-clients-grid .img-container {
  display: block;
  width: 18%;
  height: auto;
}
@media all and (max-width: 790px) {
  .epl-clients .epl-clients-grid .img-container {
    width: 23%;
  }
}
.epl-clients .epl-clients-grid .img-container img {
  width: auto;
  height: auto;
  max-width: 80%;
  mix-blend-mode: darken;
}

html.no-mix-blend-mode .epl-clients {
  background: #FFF;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.epl-contact {
  border-bottom: 30px solid #e3a830;
}
