/*--------------------------------------------------------------
# Body
--------------------------------------------------------------*/

body,
html {
  width: 100%;
  overflow-x: hidden;
}

/*--------------------------------------------------------------
# Body - Content Wrap
--------------------------------------------------------------*/

.epl-wrap {
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.epl-container {
  display: block;
  width: 90%;
  height: auto;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  .section-line {
		display: block;
		width: 14%;
		height: 30px;
		position: absolute;
		top: 3px;
		left: 0;

    @include mq($bp-m) {
      width: 6%;
    }

    @include mq($bp-s) {
      display: none;
    }

    &.yellow {
      background: $yellow-light;
    }

    &.blue {
      background: $blue;
    }
	}

  &--margined {
    margin-top: 120px;
    margin-bottom: 120px;

    @include mq($bp-m) {
      margin-top: 80px;
      margin-bottom: 80px;
    }

    @include mq($bp-s) {
      margin-top: 60px;
      margin-bottom: 60px;
    }
  }

  &__inner {
    display: block;
    width: 65%;
    height: auto;
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;

    @include mq($bp-m) {
      width: 80%;
    }

    @include mq($bp-s) {
      width: 100%;
    }
  }

}
