/*--------------------------------------------------------------
# Page Footer
--------------------------------------------------------------*/

.epl-footer {
  text-align: center;
  padding: 40px 0 30px 0;

  &__logo {
    margin-bottom: 40px;
  }

  &__locations {
    @include open-sans(900);
    color: #6c6c6c;
    font-size: 1.4rem;
    line-height: 1;
    margin-bottom: 40px;

    span {
      display: inline-block;
      padding: 0 10px;
    }

  }

  &__disclaimers {
    p,
    a {
      @include open-sans(400);
      letter-spacing: -0.02em;
      font-size: 1.2rem;
      line-height: 1.8;
      margin-bottom: 0;
    }
  }

}
