/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
.epl-navigation {
  display: block;
  width: 100%;
  height: auto;
  padding: 30px 0;
  @include display-flex($justify: space-between, $align: center);

  .epl-logo img {
    width: auto;
    height: auto;
    @include mq($bp-s) {
      width: 240px;
      height: auto;
    }
  }

  &__links {
    display: block;
    @include mq($bp-s) {
      display: none;
    }

    a {
      @include open-sans(900);
      font-size: 1.4rem;
      color: #6c6c6c;
      margin-left: 30px;
      position: relative;

      .line {
        content: '';
        display: block;
        width: 100%;
        height: 5px;
        background: $yellow-light;
        position: absolute;
        top: 110%;
        left: 0;
        opacity: 0;
        transition: opacity 500ms;
      }

      &:hover {
        .line {
          opacity: 1;
        }
      }
    }
  }

  &__mobile-toggle {
    display: none;
    font-size: 1.9rem;
    margin-right: 20px;
    @include mq($bp-s) {
      display: inline;
    }
    @include mq($bp-xs) {
      margin: 0;
    }
  }
}



/*--------------------------------------------------------------
# Mobile Navigation
--------------------------------------------------------------*/

.mobile-navigation {
  background: $yellow-light;
  color: #FFF;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;

  .links {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 9999999;
  }
  a {
    display: block;
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.3;
    padding: 15px 30px;
    font-weight: 900;
  }
}
