/*--------------------------------------------------------------
# Homepage Hero
--------------------------------------------------------------*/

.epl-hero {
  min-height: 100vh;
  background: url('/assets/images/hero-bg.jpg') no-repeat center center;
  background-size: cover;
  overflow: hidden;
  position: relative;

  @include mq($bp-s) {
    min-height: 580px;
  }

  .epl-container {
    position: static;
  }

  &__content {
    padding-top: 230px;
    margin-bottom: 60px;

    @include mq($bp-s) {
      padding: 0;
      position: absolute;
      top: 50%;
      left: 5%;
      width: 90%;
      transform: translateY(-50%);
    }

    h1 {
      margin-bottom: 30px;
    }

    .line {
      display: block;
      width: 210px;
      height: 14px;
      background: $yellow-light;
    }

  }

}


/*--------------------------------------------------------------
# Pacing
--------------------------------------------------------------*/

.epl-pacing {
  background: $blue;
  border-top: 30px solid $yellow-light;
  height: 200px;
}


/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/

.epl-team {
  border-bottom: 30px solid $blue;
}

.epl-team-grid {
  width: 100%;
  height: auto;
  max-width: 960px;
  margin: 60px auto 0 auto;
  @include display-flex($justify: space-between, $align: stretch);

  &__member {
    display: block;
    width: 25%;
    height: auto;
    margin-bottom: 50px;

    @include mq($bp-m) {
      width: 50%;
      text-align: center;
    }

    img {
      display: block;
      margin: 10px 0;
      width: auto;
      height: auto;
      max-width: 100%;

      @include mq($bp-m) {
        margin: 10px auto;
      }
    }

    .title {
      display: inline-block;
      padding: 3px 5px;
      background: $blue;
      color: #FFF;
      text-transform: uppercase;
      font-weight: 900;
      font-size: 1rem;
    }

    .name {
      display: block;
      font-weight: 900;
      font-size: 2rem;
      margin: 10px 0;
    }

    a {
      color: $blue;
    }
  }
}


/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/

.epl-clients {
  background: url('/assets/images/clients-bg.jpg') no-repeat bottom center;
  background-size: cover;
  text-align: center;
  overflow: hidden;

  .epl-clients-grid {
    width: 100%;
    max-width: 900px;
    height: auto;
    margin: 40px auto 380px auto;
    @include display-flex($justify: space-between, $align: center);

    @include mq($bp-s) {
      margin-bottom: 250px;
    }

    .img-container {
      display: block;
      width: 18%;
      height: auto;

      @include mq($bp-s) {
        width: 23%;
      }

      img {
        width: auto;
        height: auto;
        max-width: 80%;
        mix-blend-mode: darken;
      }

    }

  }
}

// IE
html.no-mix-blend-mode {
  .epl-clients {
    background: #FFF;
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

.epl-contact {
  border-bottom: 30px solid $yellow-light;
}
